[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/login.html"
  status = 200
  force = false
  conditions = {Cookie = ["!auth=authenticated"]}

[[redirects]]
  from = "/login"
  to = "/login.html"
  status = 200