[build]
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/login.html"
  status = 200
  conditions = {Role = ["!*"]}
  force = false

[[redirects]]
  from = "/login"
  to = "/login.html"
  status = 200
